{% block evolution_send_template_action_widget %}
    <div class="evolution-send-template-widget">
        <div class="form-group">
            {{ form_label(form.template) }}
            {{ form_widget(form.template, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.template) }}
            <div class="help-block">
                <small>
                    <i class="fa fa-info-circle"></i>
                    Selecione um template ativo para enviar ao lead.
                </small>
            </div>
        </div>
        
        <div class="form-group">
            {{ form_label(form.phone_field) }}
            {{ form_widget(form.phone_field, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.phone_field) }}
            <div class="help-block">
                <small>
                    <i class="fa fa-info-circle"></i>
                    Selecione qual campo do lead será usado para obter o número do WhatsApp.
                </small>
            </div>
        </div>
    </div>
{% endblock %}